aniso8601==3.0.0
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Babel==0.9.6
backports.shutil-get-terminal-size==1.0.0
Beaker==1.5.4
Catwalk==2.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.3.7
constantly==15.1.0
coverage==4.5.1
cryptography==2.1.4
decorator==3.3.2
dnspython==1.15.0
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.3
Flask-Login==0.4.1
flask-mongoengine==0.9.5
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
flask-restplus==0.10.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
FormEncode==1.2.4
functools32==3.2.3.post2
Genshi==0.6
gunicorn==19.9.0
gyp==0.1
hyperlink==17.3.1
icalendar==2.2
idna==2.7
incremental==16.10.1
ipaddress==1.0.17
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.4
Mako==1.0.7
MarkupSafe==1.1.0
mongoengine==0.15.0
nose==1.3.7
PAM==0.4.2
Paste==1.7.5.1
PasteDeploy==1.3.4
PasteScript==1.7.4.2
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
psycopg2==2.7.6.1
ptyprocess==0.6.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pygame==1.9.4
Pygments==1.4
pygobject==3.26.1
PyJWT==1.6.1
Pylons==1.0
pymongo==3.6.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.7.3
python-openid==2.2.5
pytz==2018.4
pyxdg==0.25
repoze.tm2==1.0b2
repoze.what==1.0.9
repoze.what-pylons==1.0
repoze.what-quickstart==1.0.9
repoze.what.plugins.sql==1.0.1
repoze.who==1.0.19
repoze.who-friendlyform==1.0.8
repoze.who-testutil==1.0.1
repoze.who.plugins.sa==1.0.1
requests==2.19.1
Routes==1.12.3
scandir==1.9.0
scgi==1.13
SecretStorage==2.3.1
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==2.3.0
six==1.11.0
sprox==0.7rc1
SQLAlchemy==1.2.15
SquareMap==1.0.4
TaskCoach==1.4.3
Tempita==0.5.1
tg.devtools==2.1.4
tgext.admin==0.3.12
tgext.crud==0.3.13
TGScheduler==1.6.3
ToscaWidgets==0.9.12
traitlets==4.3.2
transaction==1.2.0
TurboGears2==2.1.4
TurboMail==3.0.3
tw.dynforms==0.9.8
tw.forms==0.9.9
tw.jquery==0.9.10
tw.tinymce==0.8
tw2.core==2.0b11
Twisted==17.9.0
urllib3==1.23
wcwidth==0.1.7
WebError==0.10.3
WebFlash==0.1a9
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.2.4
Werkzeug==0.14.1
WTForms==2.2.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.interface==3.8.0
zope.sqlalchemy==0.7
