{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('recipes_edit', recipe_id=recipe.id) }}">
        <div>
            <div>
                <label>Recipe</label>
                <input type="text" name="name" value="{{recipe.name}}" />
            </div>
            <div>
                <label>Preparation time (mins)</label>
                <input type="number" name="preparation_time" value="{{recipe.preparation_time}}" />
            </div>
            <div><label>Instructions: </label><input type="text" name="instructions" value="{{recipe.instructions}}" /></div>
        </div>
        <div><input type="submit" class="button button-edit" value="Edit"/></div>
    </form>
{% endblock %}

