{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Recipe</th>
            <th>Likes</th>
            <th>Instructions</th>
            <th>Actions</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td><a href="{{ url_for('recipes_show', recipe_id=recipe.id) }}">{{ recipe.name }}</a></td>
            <td>{{ recipe.likes }}</td>
            <td>{{ recipe.instructions }}</td>
            <td>
                <form method="POST" action="{{ url_for('recipes_remove', recipe_id=recipe.id) }}">
                    <input type="submit" value="Remove" class="button button-remove"/>
                </form>
                <form method="GET" action="{{ url_for('recipes_edit_form', recipe_id=recipe.id) }}">
                    <input type="submit" value="Edit" class="button button-edit"/>
                </form>
                <form method="POST" action="{{ url_for('recipes_add_like', recipe_id=recipe.id) }}">
                    <input type="submit" value="Like!" class="button button-like"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}