{% extends "layout.html" %}

{% block body %}
<div class="center-align error">
    {% for error in form.preparation_time.errors %}
      Preparation time: {{ error }}<br />
    {% endfor %}
</div>

<h1>Add a recipe</h1>

<form method="POST" action="{{ url_for('recipes_create') }}">
  <table>
    <tr>
      <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
    </tr>
    <tr>
      <td>{{ form.preparation_time.label }}</td>
      <td>{{ form.preparation_time }}</td>
    </tr>
    <tr>
      <td>{{ form.instructions.label }}</td>
      <td>{{ form.instructions }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" class="button button-add" value="Add a new recipe" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}