{% extends "layout.html" %}

{% block body %}

<div class="container-fluid center-align">
  <h1>{{ recipe.name }}</h2>
  This recipe was added by <a href="{{ url_for('auth_show', account_id=recipe.account.id) }}">{{ recipe.account.username }}</a> on <i>{{ recipe.date_created }}</i>
  <p>This recipe has {{ recipe.like_count }} likes.</p>
  <br />
  <p>Preparation time: {{ recipe.preparation_time }} minutes</p>
  <b>Instructions</b>
  <p>{{ recipe.instructions }}</p>

  <b>Comments</b><br />
    {% for comment in recipe.comments %}
    <div class="container-fluid center-align comment-text">
      <p>by <a href="{{ url_for('auth_show', account_id=current_user.id) }}">
        {{ comment.account.username }}
      </a></p>

      {{ comment.text }}

      {% if current_user.id == comment.account.id %}
        <form method="POST" action="{{ url_for('comments_remove', comment_id=comment.id) }}">
          <input type="submit" value="Remove" class="button button-remove"/>
        </form>
      {% endif %}
    </div>

    {% endfor %}

  {% if current_user.id %}
    <form method="POST" action="{{ url_for('comments_create', recipe_id=recipe.id) }}">
      <table>
        <tr>
          <td>{{ form.text.label }}</td>
          <td>{{ form.text }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <input type="submit" class="button button-add" value="Send" />
          </td>
        </tr>
      </table>
    </form>
  {% else %}
    You have to <a href="{{ url_for('auth_login') }}">sign in</a> to comment.
  {% endif %}
</div>

{% endblock %}